<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Bloquear ejecucion de scripts en la carpeta de uploads -->
      <add name="BlockAspx"  path="*.aspx"  verb="*" modules="IsapiModule" scriptProcessor="" type="" resourceType="Unspecified" requireAccess="None" preCondition="integratedMode" />
      <add name="BlockAshx"  path="*.ashx"  verb="*" modules="IsapiModule" scriptProcessor="" type="" resourceType="Unspecified" requireAccess="None" preCondition="integratedMode" />
    </handlers>
    <!-- Permitir servir imagenes y archivos estaticos normalmente -->
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
  </system.webServer>
</configuration>
